*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
}

body{
    background-color: #c7c7c7;

    
}

body::before{
    content: "";
    height: 25rem;
    width: 100%;
    background-color: #021e41;
    display: flex;
    position: absolute;
    z-index: -1;
}

img {
    width: 40rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.page{
    width: 40rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

header{
    font-style: normal;
    height: 25rem;
    text-align: center;

}

header h1{

    font-family: 'Staatliches', cursiva;
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.5rem;
    color: #ffffff;    
}

.top{
    width: 40rem;
    height: 10rem;  
    background: #949494;  
    margin: 0; 
    padding: 3rem 0;
    border-radius: 2rem 2rem 0 0 ;
}

form{
    background: #ffffff;
    border-radius: 0 0 2rem 2rem;
    padding: 0 3.2rem 6.4rem;
    margin-bottom: 3.0rem;
}

#video{
    width: 34rem;
    height: 22.5rem;
    padding: 1rem 0 2rem;
    margin: 0 auto;
}

h2{
    font-family: 'Staatliches', cursiva;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    color: #253B51;
    border-bottom: 0.1rem solid #E6E6F0;
    text-align: center;
    margin: 1.0rem 0;;
    background-color: #acaccf;

}

h3{
    font-family: 'Staatliches', cursiva;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.4rem;
    color: #253B51;
    margin: 1.5rem 0;
    padding-left: 15px;
}

.menu{
    margin-left: 0.5rem;
    padding-top: 3rem;
    position: fixed;    
}

.menu .menu-faketrigger{
    position: absolute;
    z-index: 1000;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 0;
    cursor: pointer;
}

.menu .menu-lines {
    position: absolute;
    z-index: 999;
    width: 3.5rem;
    height: 3.5rem;
}

.menu .menu-lines span{
    display: block;
    width: 3.5rem;
    height: 0.6rem;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 0.1rem #021E41 solid;
    border-radius: 0.3rem;
    transition: all ease .2s;
}

.menu .menu-faketrigger:checked ~ .menu-lines span{
    background-color: #021E41
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.35);
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.40);
}

.menu ul {
    position: absolute;
    overflow-x: 998;
    margin-left: -31rem;
    margin-top: -30rem;
    width: 30rem;
    height: 100%;
    background-color: #ffffff;
    transition: all ease .2s;
    padding-top: 8rem;
    position: fixed;
 }

 .menu .menu-faketrigger:checked ~ ul{
    margin-left: -3rem;
    margin-top: -3rem;
 }

 .menu ul li {
    text-decoration: none;
    padding: 1rem 3rem;
    list-style-type: none;

 }

 .menu ul li ul li {
    text-decoration: none;
    padding: 1rem 3rem;
    list-style-type: none;
 }
 
 .menu ul li a{
    text-decoration: none;
    color: #021E41;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Staatliches', cursiva;
 }

 .menu ul li a{
    text-decoration: none;
    color: #021E41;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Staatliches', cursiva;
 }

 .menu ul li a:hover{
    color: #89b1d6;
    transition: all ease .3s;
 }

 #span a{
    padding-left: 5rem;
 }

 @media (min-width:700px){
    body::before{
        height: 36rem;
        width: 100%;

    }
    
    img {
        width: 60rem;
    }
    
    .page{
        width: 60rem;
       }
    
    header{
        height: 36rem;
    }
    
    header h1{
        font-size: 3.6rem;
    }

    .top{
        width: 60rem;
        height: 13rem;  
        padding: 5rem 0;
    }
       
    #video{
        width: 53.7rem;
        height: 33.2rem;
        padding: 1rem 0 2rem;
        margin: 0 auto;
    }
    
    h2{
        font-size: 2.4rem;    
    }
    
    h3{
        font-size: 2.0rem;
    }
    
    .menu{
        margin-left: 1rem;
        padding-top: 3rem;
    }

    .menu .menu-faketrigger:checked ~ ul{
        margin-left: -3rem;
        margin-top: -3rem;
     }
 }

 @media (min-width:1000px){

    body::before{
        height: 40rem;
        width: 100%;
    }
    
    img {
        width: 75rem;
    }
    
    .page{
        width: 75rem;
       }
    
    header{
        height: 40rem;
    }
    
    header h1{
        font-size: 4rem;
    }

    .top{
        width: 75rem;
        height: 17rem;  
        padding: 4rem 0;
    }
       
    #video{
        width: 68.7rem;
        height: 42rem;
        padding: 1rem 0 2rem;
        margin: 0 auto;
    }
    
    h2{
        font-size: 3rem;    
    }
    
    h3{
        font-size: 2.5rem;
    }
    
    .menu{
        margin-left: 3rem;
        padding-top: 3rem;
    }

    .menu ul {
        margin-left: -35rem;
    }
 }